In [1]:
import pandas as pd
import numpy as np

## Connect to  Google Bigquery

In [2]:
query1='''SELECT * FROM `cookiepoc-139913.ZedFang_Analytics.ZF_Advil_Attribution_Final`'''

In [3]:
proj_id='cookiepoc-139913'
df1=pd.io.gbq.read_gbq(query1,project_id=proj_id,dialect='standard')

Requesting query... ok.
Query running...
Query done.
Processed: 41.2 Mb

Retrieving results...
  Got page: 1; 9% done. Elapsed 10.08 s.
  Got page: 2; 17% done. Elapsed 16.65 s.
  Got page: 3; 26% done. Elapsed 22.28 s.
  Got page: 4; 34% done. Elapsed 30.69 s.
  Got page: 5; 43% done. Elapsed 37.51 s.
  Got page: 6; 52% done. Elapsed 43.38 s.
  Got page: 7; 60% done. Elapsed 50.19 s.
  Got page: 8; 69% done. Elapsed 56.2 s.
  Got page: 9; 77% done. Elapsed 61.8 s.
  Got page: 10; 86% done. Elapsed 68.14 s.
  Got page: 11; 95% done. Elapsed 74.21 s.
  Got page: 12; 100% done. Elapsed 78.41 s.
Got 407206 rows.

Total time taken 88.47 s.
Finished at 2017-04-14 00:45:43.

In [4]:
len(df1.User_ID.unique())

23143

In [5]:
df1.dtypes

time             object
User_ID          object
Site_ID_DCM      object
Placement_ID     object
Campaign_ID      object
sequence          int64
min_imp_time     object
Min_CON_Time     object
Hourdiff          int64
New_Publisher    object
dtype: object

In [6]:
df1.time=pd.to_datetime(df1.time)

In [7]:
df1.dtypes

time             datetime64[ns]
User_ID                  object
Site_ID_DCM              object
Placement_ID             object
Campaign_ID              object
sequence                  int64
min_imp_time             object
Min_CON_Time             object
Hourdiff                  int64
New_Publisher            object
dtype: object

In [8]:
df1.sort_values('time')

,time,User_ID,Site_ID_DCM,Placement_ID,Campaign_ID,sequence,min_imp_time,Min_CON_Time,Hourdiff,New_Publisher
330185,2017-01-02 08:46:01.482725,CAESEOi9dSXPbYgSS3vIXeLG_T8,3021313,143083294,10719314,1,2017-01-02T08:46:01.482725,2017-02-01T07:44:57.259361,719,Time
209068,2017-01-02 08:46:28.412354,CAESEOi9dSXPbYgSS3vIXeLG_T8,3021313,143085067,10719314,2,2017-01-02T08:46:01.482725,2017-02-01T07:44:57.259361,719,Time
300192,2017-01-02 08:47:35.126849,CAESEOi9dSXPbYgSS3vIXeLG_T8,3021313,143085525,10719314,3,2017-01-02T08:46:01.482725,2017-02-01T07:44:57.259361,719,Time
151851,2017-01-02 08:47:54.072912,CAESEOi9dSXPbYgSS3vIXeLG_T8,3021313,143085525,10719314,4,2017-01-02T08:46:01.482725,2017-02-01T07:44:57.259361,719,Time
38230,2017-01-02 11:49:31.067080,CAESEEK4hB9TcpxWts3rHxGB91c,3021313,143085526,10719314,1,2017-01-02T11:49:31.067080,2017-02-01T10:24:45.262722,719,Time
301620,2017-01-02 12:01:17.794209,CAESEJzgEOHayT5PT8zeK_EPjQc,3021313,143085526,10719314,1,2017-01-02T12:01:17.794209,2017-02-01T03:38:53.688132,711,Time
29998,2017-01-02 12:16:52.372578,CAESEEK4hB9TcpxWts3rHxGB91c,3021313,143085526,10719314,2,2017-01-02T11:49:31.067080,2017-02-01T10:24:45.262722,718,Time
387976,2017-01-02 12:18:12.354719,CAESEEK4hB9TcpxWts3rHxGB91c,3021313,143085909,10719314,3,2017-01-02T11:49:31.067080,2017-02-01T10:24:45.262722,718,Time
163569,2017-01-02 12:25:12.734986,CAESEJ13H2VDHOQQMODlVJiUKDU,3021313,143085526,10719314,1,2017-01-02T12:25:12.734986,2017-02-01T06:57:55.840994,714,Time
67370,2017-01-02 14:39:16.702680,CAESEJvqJdNWry4_CVKOS1dYliw,3021313,143085526,10719314,1,2017-01-02T14:39:16.702680,2017-02-01T10:35:51.132607,716,Time
201132,2017-01-02 15:40:32.372654,CAESEJ13H2VDHOQQMODlVJiUKDU,3021313,143085526,10719314,2,2017-01-02T12:25:12.734986,2017-02-01T06:57:55.840994,711,Time
189477,2017-01-02 19:55:16.415116,CAESEMFCrE9o_O8XLppEZCjJWuE,3021313,143085526,10719314,1,2017-01-02T19:55:16.415116,2017-02-01T13:06:52.557617,714,Time
21620,2017-01-02 19:55:59.699728,CAESECaTGEvQGj0MRTJlQ7OmiMk,3021313,143085526,10719314,1,2017-01-02T19:55:59.699728,2017-02-01T01:51:16.322224,702,Time
127356,2017-01-03 01:13:15.547585,CAESEGSEBLv3gsVXDDbpQ9VUYS4,2095334,143504102,10739956,1,2017-01-03T01:13:15.547585,2017-02-01T02:42:02.496334,697,Amnet
277039,2017-01-03 01:50:54.374946,CAESEGSEBLv3gsVXDDbpQ9VUYS4,2095334,143504102,10739956,2,2017-01-03T01:13:15.547585,2017-02-01T02:42:02.496334,697,Amnet
96664,2017-01-03 02:27:49.902613,CAESEA4jXms9aiWkewtufrZDeQw,3021313,143085526,10719314,1,2017-01-03T02:27:49.902613,2017-02-01T05:39:59.137556,699,Time
300091,2017-01-03 07:44:13.236645,CAESEHk9NepYAunf9CGNQuUlTfQ,3021313,143085067,10719314,1,2017-01-03T07:44:13.236645,2017-02-01T07:43:48.007931,696,Time
189341,2017-01-03 07:45:59.295247,CAESEHk9NepYAunf9CGNQuUlTfQ,3021313,143085067,10719314,2,2017-01-03T07:44:13.236645,2017-02-01T07:43:48.007931,696,Time
96679,2017-01-03 08:36:47.425435,CAESEE3164wKxxdr8qNePETgGcw,3021313,143085526,10719314,1,2017-01-03T08:36:47.425435,2017-02-01T10:36:10.755887,698,Time
217218,2017-01-03 09:47:08.867491,CAESEMrfyBaPgPbE6tl3RTvtZy4,3021313,143085067,10719314,1,2017-01-03T09:47:08.867491,2017-02-01T20:20:57.975259,707,Time
314510,2017-01-03 10:07:53.805426,CAESEL2FjpKJ2lqaapf-Pv3QCEs,3021313,143085067,10719314,1,2017-01-03T10:07:53.805426,2017-02-01T12:02:43.326655,698,Time
366657,2017-01-03 10:14:12.064716,CAESEL2FjpKJ2lqaapf-Pv3QCEs,3021313,143085067,10719314,2,2017-01-03T10:07:53.805426,2017-02-01T12:02:43.326655,698,Time
291917,2017-01-03 10:17:20.403134,CAESEAbs5NVZyd8fs5i4w9vhksI,3021313,143085067,10719314,1,2017-01-03T10:17:20.403134,2017-02-02T08:09:29.074264,718,Time
379505,2017-01-03 10:23:00.794849,CAESEAbs5NVZyd8fs5i4w9vhksI,3021313,143085067,10719314,2,2017-01-03T10:17:20.403134,2017-02-02T08:09:29.074264,718,Time
268981,2017-01-03 10:24:18.108593,CAESEAbs5NVZyd8fs5i4w9vhksI,3021313,143085067,10719314,3,2017-01-03T10:17:20.403134,2017-02-02T08:09:29.074264,718,Time
188064,2017-01-03 10:37:02.462190,CAESEAX5QCyk9m9MUMX0Q6jesHU,3021313,143085909,10719314,1,2017-01-03T10:37:02.462190,2017-02-01T11:00:47.880882,697,Time
96666,2017-01-03 10:37:35.043021,CAESEAX5QCyk9m9MUMX0Q6jesHU,3021313,143085526,10719314,2,2017-01-03T10:37:02.462190,2017-02-01T11:00:47.880882,697,Time
404153,2017-01-03 10:43:55.456244,CAESELZYH1iNyaHlXVChcBlHe5s,3021313,143085526,10719314,1,2017-01-03T10:43:55.456244,2017-02-01T14:28:43.847866,700,Time
75359,2017-01-03 10:47:16.020947,CAESECp3WiRj3Z0qytfEGDf4TNo,3021313,143085067,10719314,1,2017-01-03T10:47:16.020947,2017-02-01T09:45:14.718271,695,Time
387792,2017-01-03 10:56:20.297270,CAESEDJSmeGXScNfg9PUVG36exI,3021313,143085526,10719314,1,2017-01-03T10:56:20.297270,2017-02-01T19:54:19.329127,705,Time
...,...,...,...,...,...,...,...,...,...,...
112026,2017-03-30 23:13:56.459570,CAESEE7gCgPmP5OakcwQC_wuLog,2095334,148953023,10737662,5,2017-03-16T12:56:55.371723,2017-03-30T23:14:16.110165,0,Amnet
170701,2017-03-30 23:16:55.723545,CAESEH2hOYYeIurhdQ6B_aGiAM0,2095334,148939889,10737662,5,2017-03-28T10:59:49.451248,2017-03-30T23:17:45.339147,0,Amnet
66392,2017-03-30 23:17:25.183649,CAESEH2hOYYeIurhdQ6B_aGiAM0,2095334,148953023,10737662,6,2017-03-28T10:59:49.451248,2017-03-30T23:17:45.339147,0,Amnet
202098,2017-03-30 23:26:09.942552,CAESEB5iXfyCyfR6RO3fGEi3EDk,1833669,144087717,10768480,4,2017-03-13T03:17:26.029127,2017-03-30T23:26:16.380101,0,Hulu
223908,2017-03-30 23:27:38.333143,CAESEAb10vV_5Bn5ANMvbgtznEA,2095334,145801676,10737662,1,2017-03-30T23:27:38.333143,2017-03-30T23:30:36.576365,0,Amnet
95629,2017-03-30 23:27:54.820110,CAESEAb10vV_5Bn5ANMvbgtznEA,2095334,148953113,10737662,2,2017-03-30T23:27:38.333143,2017-03-30T23:30:36.576365,0,Amnet
299210,2017-03-30 23:28:24.155210,CAESEAb10vV_5Bn5ANMvbgtznEA,2095334,148953113,10737662,3,2017-03-30T23:27:38.333143,2017-03-30T23:30:36.576365,0,Amnet
162549,2017-03-30 23:28:25.971529,CAESEAb10vV_5Bn5ANMvbgtznEA,2095334,148953113,10737662,4,2017-03-30T23:27:38.333143,2017-03-30T23:30:36.576365,0,Amnet
179745,2017-03-30 23:29:10.725288,CAESEAb10vV_5Bn5ANMvbgtznEA,2095334,148953113,10737662,5,2017-03-30T23:27:38.333143,2017-03-30T23:30:36.576365,0,Amnet
187213,2017-03-30 23:30:12.418975,CAESEB3hFX9vSBX6GFxGoUhZulU,3021313,143084664,10719314,1,2017-03-30T23:30:12.418975,2017-03-30T23:48:12.143377,0,Time
172346,2017-03-30 23:31:11.600620,CAESEB3hFX9vSBX6GFxGoUhZulU,3021313,143084664,10719314,2,2017-03-30T23:30:12.418975,2017-03-30T23:48:12.143377,0,Time
74752,2017-03-30 23:31:56.556712,CAESEB3hFX9vSBX6GFxGoUhZulU,3021313,143084664,10719314,3,2017-03-30T23:30:12.418975,2017-03-30T23:48:12.143377,0,Time
301766,2017-03-30 23:32:37.985609,CAESEDBVaCeCTE90S1wbvCVrcow,3021313,143085909,10719314,3,2017-03-26T16:22:34.691655,2017-03-30T23:33:03.115768,0,Time
305213,2017-03-30 23:32:53.106381,CAESEDBVaCeCTE90S1wbvCVrcow,3021313,143085909,10719314,4,2017-03-26T16:22:34.691655,2017-03-30T23:33:03.115768,0,Time
216563,2017-03-30 23:34:14.858900,CAESEB3hFX9vSBX6GFxGoUhZulU,3021313,143084664,10719314,4,2017-03-30T23:30:12.418975,2017-03-30T23:48:12.143377,0,Time
395280,2017-03-30 23:36:33.948135,CAESEB3hFX9vSBX6GFxGoUhZulU,3021313,143084664,10719314,5,2017-03-30T23:30:12.418975,2017-03-30T23:48:12.143377,0,Time
312577,2017-03-30 23:39:07.364198,CAESEGdt3VWNR-71ncFMNDaoOtY,3021313,143084664,10719314,11,2017-03-23T19:27:28.950848,2017-03-30T23:44:08.928191,0,Time
142600,2017-03-30 23:41:29.647101,CAESEIxs36Xt9EUpEweOi0rnykc,3021313,143085909,10719314,1,2017-03-30T23:41:29.647101,2017-03-30T23:44:43.051808,0,Time
97047,2017-03-30 23:42:38.571316,CAESEIz3fnjjRmMsYq7KvPX3BQ8,3021313,143085909,10719314,4,2017-03-29T10:45:30.611041,2017-03-30T23:42:46.819261,0,Time
246153,2017-03-30 23:42:44.900227,CAESEIxs36Xt9EUpEweOi0rnykc,3021313,143084664,10719314,2,2017-03-30T23:41:29.647101,2017-03-30T23:44:43.051808,0,Time
255268,2017-03-30 23:43:21.294355,CAESEIxs36Xt9EUpEweOi0rnykc,3021313,143085909,10719314,3,2017-03-30T23:41:29.647101,2017-03-30T23:44:43.051808,0,Time
358919,2017-03-30 23:44:36.154073,CAESEIxs36Xt9EUpEweOi0rnykc,3021313,143085909,10719314,4,2017-03-30T23:41:29.647101,2017-03-30T23:44:43.051808,0,Time
343952,2017-03-30 23:45:27.564954,CAESEEnuqAxxsyySrsUaPIwq_JE,3021313,143085909,10719314,1,2017-03-30T23:45:27.564954,2017-03-30T23:50:19.759097,0,Time
96930,2017-03-30 23:45:41.921743,CAESEEnuqAxxsyySrsUaPIwq_JE,3021313,143085909,10719314,2,2017-03-30T23:45:27.564954,2017-03-30T23:50:19.759097,0,Time
67602,2017-03-30 23:46:42.527786,CAESEEnuqAxxsyySrsUaPIwq_JE,3021313,143085909,10719314,3,2017-03-30T23:45:27.564954,2017-03-30T23:50:19.759097,0,Time
367024,2017-03-30 23:47:50.406449,CAESEEnuqAxxsyySrsUaPIwq_JE,3021313,143085909,10719314,4,2017-03-30T23:45:27.564954,2017-03-30T23:50:19.759097,0,Time
201660,2017-03-30 23:55:32.363506,CAESENiFXmT6rb5QXBpsIWgDNp8,3021313,143085909,10719314,1,2017-03-30T23:55:32.363506,2017-03-30T23:59:32.486683,0,Time
403847,2017-03-30 23:56:10.889447,CAESENiFXmT6rb5QXBpsIWgDNp8,3021313,143084664,10719314,2,2017-03-30T23:55:32.363506,2017-03-30T23:59:32.486683,0,Time
209732,2017-03-30 23:58:19.082506,CAESENiFXmT6rb5QXBpsIWgDNp8,3021313,143085909,10719314,3,2017-03-30T23:55:32.363506,2017-03-30T23:59:32.486683,0,Time
359119,2017-03-30 23:59:17.603790,CAESENiFXmT6rb5QXBpsIWgDNp8,3021313,143085909,10719314,4,2017-03-30T23:55:32.363506,2017-03-30T23:59:32.486683,0,Time

<img src="Google_Analytics_Attribution_Modeling.jpg">

### First Touch

In [9]:
First_Touch=df1[df1.sequence==1].groupby('New_Publisher',as_index=False).User_ID.count(). \
                 sort_values(by='User_ID',ascending=False).reset_index(drop=True)

In [10]:
First_Touch.rename(columns={'User_ID':'First_Touch'},inplace=True)

In [11]:
First_Touch=First_Touch.set_index('New_Publisher')

### Last Touch

In [12]:
last_idx=df1.groupby('User_ID').time.transform(max)==df1.time

In [13]:
df1_last=df1[last_idx]

In [14]:
Last_Touch=df1_last.groupby('New_Publisher',as_index=False).User_ID.count().set_index('New_Publisher')

In [15]:
Last_Touch.rename(columns={'User_ID':'Last_Touch'},inplace=True)

In [16]:
pd.concat([First_Touch,Last_Touch],join='outer',axis=1)

                              First_Touch  Last_Touch
Amnet                               10872     10319.0
Conversant                              1         NaN
Hulu                                  106       115.0
Pandora                              2442      2447.0
People Entertainment Network            1         NaN
Time                                 7596      7566.0
Walt Disney ABC                      1601      2206.0
Youtube                               524       490.0

### Linear

In [17]:
total_points=len(df1)

total_points

407206

In [53]:
df1.groupby(['User_ID','New_Publisher']).time.count()

User_ID                      New_Publisher
CAESEA-3F6AonCV-FWs3if0qe4g  Amnet                2
                             Time                 1
CAESEA-3WjoHAnfWLW3y95Figg0  Time                 3
CAESEA-CX9UT9dSaCkZKSGNsRrc  Amnet                5
CAESEA-Dx9vCxjRBFz0cI0B3tOg  Walt Disney ABC      3
CAESEA-IG57dvlLvXiL46HzHEEQ  Time                 1
                             Walt Disney ABC      4
CAESEA-LaJIsfP2L2i1rCavYN8Q  Amnet                4
CAESEA-Rfr1NYlYd1KxCdosQAbs  Amnet               52
CAESEA-SF4m5Xzyr20FZ2KedcLo  Youtube              3
CAESEA-SZSGOX-9xTGnlcKSAoQg  Time                 3
CAESEA-UyMA42WFHgvCe-LdLGtY  Pandora              3
CAESEA-W3R6N_kFiBVYBn54Bl-c  Pandora              3
CAESEA-Xym2Jho7_0rUvoAxeFBU  Time                 3
CAESEA-j9qytYB8g9cem5p7rCks  Walt Disney ABC      3
CAESEA-jT0_u489xjmiK_Q5Mi9I  Time                 3
CAESEA-lgEOT25Rk3jzDgI3KdUI  Walt Disney ABC      4
CAESEA-nBdA87ZGcvEZMjiRqHrU  Time                 3
CAESEA-qiWRejjmYmxvpF_mSXRo  Amnet               25
CAESEA-qmqZFwZiHZRd8b_8NiQM  Amnet               70
CAESEA-tePaQ4bycyKxaZTKK-pc  Amnet                8
CAESEA-ve1TAIwzFPH5iaS1DoaY  Time                42
CAESEA-w33xOL_FKTdYH_IcleJw  Amnet                3
                             Time                 2
CAESEA-xMEX-96fV2rxkV4A9Iuc  Amnet               22
CAESEA-ykqWd1LMmP2g0rXdV900  Amnet                4
CAESEA01t8wlGBDEfZbd9E3wg-8  Amnet               19
CAESEA0G81vGzhJPUii4voBx0gI  Time                 3
CAESEA0HPVodSzJohOwFXER7H3I  Pandora              6
CAESEA0JS_DS0ZFAXqM5eFZGrJY  Time                 4
                                               ...
CAESEPyjXfRYSaQzWpbUDXtrzDw  Amnet               45
CAESEPylAYYRhwUNB__EnJqp_o8  Time                 2
                             Walt Disney ABC      1
CAESEPypnUf8S9gfGrk6PzIL0Uo  Time                18
CAESEPyqaFtVQV4Pqk6rtfVziFg  Time                 8
CAESEPytT4OI-JlcRes8r6kv_NE  Time                 3
CAESEPz0XkUCKC7oYfFdF4SegA8  Amnet               11
CAESEPzEIOyUF5sK6AP1IGO3egM  Amnet                3
CAESEPzFAArXCHd2Shuy7YdcQho  Amnet                4
CAESEPzHT9uz49-9z65RgNAYOdI  Amnet              197
CAESEPzIS4qZVlh9Hx1kCn5I9oo  Amnet               30
CAESEPzLk5EnDhIcdKpz2aZxK00  Amnet                9
CAESEPzRsMycp5EHNdczVZPcn_M  Amnet              134
CAESEPzS0kj7Civva2EYnCvt9zM  Pandora              9
CAESEPzT0rua4wpB5RWVhJHlqyE  Time                41
CAESEPzXqvo7AbsBo2IUB1LL9xs  Amnet                3
CAESEPza3RlAE5kIlrRA0YbAbLM  Amnet                6
CAESEPzc_neqjJKecZ8wO34hAHU  Amnet               52
CAESEPzdh-b8qn1phS2nlHs8DkQ  Time                 7
CAESEPzeUi_E3u3FD-aJkB8BRz0  Amnet               58
CAESEPzevY5oFKtwIg9yF2twZ-I  Time                 6
CAESEPzghd51bNzo2tjo3S3-8pI  Pandora             81
CAESEPzkl3YsJg592ptYKCCTLz8  Amnet               45
CAESEPzndAMBEehJLbKPkPQF88g  Time                15
CAESEPzozdlk2EbFcpdxG9rrfEc  Time                20
CAESEPzpb2cjRqdh-1usjihDsgo  Time                12
CAESEPzqJGT4PfajX8RQGb3L3Y4  Amnet                9
CAESEPzqd3bX7mGZlMpa6Zax3e8  Amnet                3
CAESEPzwx1uuIQXukWVLcZz4M60  Amnet                8
CAESEPzyeSUnKXys5l1-TIAOcMU  Amnet               38
Name: time, dtype: int64

In [19]:
touchpoints_count=df1.groupby('New_Publisher').User_ID.count()

In [20]:
touchpoints_per=touchpoints_count.astype(float)/total_points

In [52]:
touchpoints_per

New_Publisher
Amnet                           0.747514
Conversant                      0.000005
Hulu                            0.001530
Pandora                         0.047575
People Entertainment Network    0.000005
Time                            0.175211
Walt Disney ABC                 0.019676
Youtube                         0.008485
Name: User_ID, dtype: float64

In [21]:
Linear=round(touchpoints_per*total_conversions).reset_index().set_index('New_Publisher')

In [22]:
Linear.rename(columns={'User_ID':'Linear'},inplace=True)

In [48]:
com=pd.concat([First_Touch,Last_Touch,Linear],join='outer',axis=1)

In [49]:
com

                              First_Touch  Last_Touch   Linear
Amnet                               10872     10319.0  17300.0
Conversant                              1         NaN      0.0
Hulu                                  106       115.0     35.0
Pandora                              2442      2447.0   1101.0
People Entertainment Network            1         NaN      0.0
Time                                 7596      7566.0   4055.0
Walt Disney ABC                      1601      2206.0    455.0
Youtube                               524       490.0    196.0

#### Position Based

In [24]:
First=First_Touch*0.4

In [25]:
First

                              First_Touch
New_Publisher
Amnet                              4348.8
Time                               3038.4
Pandora                             976.8
Walt Disney ABC                     640.4
Youtube                             209.6
Hulu                                 42.4
Conversant                            0.4
People Entertainment Network          0.4

In [26]:
Last=Last_Touch*0.4

In [27]:
middle=df1[(df1.sequence!=1) & (df1.groupby('User_ID').time.transform(max)!=df1.time)]

In [28]:
len(middle)

360920

In [29]:
middle_points_c=len(middle)

In [31]:
middle_per=middle.groupby('New_Publisher').User_ID.count()/middle_points_c

In [32]:
middle_per

New_Publisher
Amnet                           0.784664
Conversant                      0.000003
Hulu                            0.001114
Pandora                         0.040131
People Entertainment Network    0.000003
Time                            0.155672
Walt Disney ABC                 0.011651
Youtube                         0.006763
Name: User_ID, dtype: float64

In [33]:
Middle=middle_per*0.2*total_conversions

In [34]:
Middle.reset_index()

                  New_Publisher      User_ID
0                         Amnet  3631.896677
1                    Conversant     0.012824
2                          Hulu     5.155428
3                       Pandora   185.749314
4  People Entertainment Network     0.012824
5                          Time   720.541646
6               Walt Disney ABC    53.926806
7                       Youtube    31.304479

In [35]:
#First.add(Middle,axis=0)

In [36]:
agg_df=pd.concat([First,Last,Middle],axis=1)

In [37]:
Position_Based=round(agg_df.sum(axis=1).to_frame())

In [38]:
Position_Based.rename(columns={0:'PositionBased'},inplace=True)

In [39]:
Position_Based

                              PositionBased
Amnet                               12108.0
Conversant                              0.0
Hulu                                   94.0
Pandora                              2141.0
People Entertainment Network            0.0
Time                                 6785.0
Walt Disney ABC                      1577.0
Youtube                               437.0

In [50]:
com=pd.concat([com,Position_Based],axis=1)

In [51]:
com

                              First_Touch  Last_Touch   Linear  PositionBased
Amnet                               10872     10319.0  17300.0        12108.0
Conversant                              1         NaN      0.0            0.0
Hulu                                  106       115.0     35.0           94.0
Pandora                              2442      2447.0   1101.0         2141.0
People Entertainment Network            1         NaN      0.0            0.0
Time                                 7596      7566.0   4055.0         6785.0
Walt Disney ABC                      1601      2206.0    455.0         1577.0
Youtube                               524       490.0    196.0          437.0

### Markov Chain

In [40]:
query2='''
select User_ID,group_concat(New_Publisher,'>') from 
(SELECT * FROM [cookiepoc-139913:ZedFang_Analytics.ZF_Advil_Attribution_Final] 
order by User_ID,sequence)
Group by User_ID
'''

In [41]:
proj_id='cookiepoc-139913'
df2=pd.io.gbq.read_gbq(query2,project_id=proj_id,dialect='legacy')

Requesting query... ok.
Query running...
Query done.
Cache hit.

Retrieving results...
Got 23143 rows.

Total time taken 1.97 s.
Finished at 2017-04-14 00:47:33.

In [45]:
df2.rename(columns={'f0_':'Channels'},inplace=True)

In [46]:
df2.head()

,User_ID,Channels
0,CAESEA-3F6AonCV-FWs3if0qe4g,Time>Amnet>Amnet
1,CAESEA-3WjoHAnfWLW3y95Figg0,Time>Time>Time
2,CAESEA-CX9UT9dSaCkZKSGNsRrc,Amnet>Amnet>Amnet>Amnet>Amnet
3,CAESEA-Dx9vCxjRBFz0cI0B3tOg,Walt Disney ABC>Walt Disney ABC>Walt Disney ABC
4,CAESEA-IG57dvlLvXiL46HzHEEQ,Walt Disney ABC>Walt Disney ABC>Walt Disney AB...

In [47]:
df2.to_csv('demo.csv')

In [ ]:
import pykov